# Copy as .env file and fill your values below

GOOGLE_GENAI_USE_VERTEXAI=1

## Vertex backend config
GOOGLE_CLOUD_PROJECT=YOUR_VALUE_HERE
GOOGLE_CLOUD_LOCATION=YOUR_VALUE_HERE
GOOGLE_CLOUD_STORAGE_BUCKET=YOUR_VALUE_HERE

## Models used in Agent
ROOT_AGENT_MODEL='gemini-2.5-pro'
